@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/styles/input.css -o ./src/styles/output.css --watch */

@font-face {
  font-family: jalayerMd;
  src: url(../fonts/TKT-jalayer-Family/TKT-jalayer\ Medium.otf);
}

@font-face {
  font-family: asrejadid;
  src: url(../fonts/Tano\ Circle-Dots.ttf);
}
@layer utilities {
  .jalayerMd {
    font-family: jalayerMd;
  }
  .asrejadid {
    font-family: asrejadid;
  }
  .wordSpacing {
    word-spacing: 12px;
  }
  .wordSpacingSm {
    word-spacing: 6px;
  }
}
